* { 
    margin: 0%;
    padding: 0;
} 

.menu li {
    list-style: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
}

.menu li a {
    color: white;
    text-decoration: none;
}

.menu li a:hover {
    color: white;
}

.link {
    position: relative;
    display: inline-block;
}

/* eoNH6b8xsGQ9AUw6YeBMPeMW3EcRkf */

.link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    scale: 0 1;
    transform-origin: left;
    transition: scale 0.25s;
}

.link:hover::before {
    scale: 1;
}

.sticky {
    position: sticky; 
    z-index: 3;
    top: 0px;
}

html {
    scroll-behavior: smooth;
}

html a:hover {
    cursor: pointer;
}

body {
    background-color: #496364;
}

header {
    background-color: #354a4a;
    color: white;
}

.letraBlanca {
    color: white;
}

.letraFont {
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width:767px) { 

    #logo {

        width: 150px;
    }
    
}

.fondoGris {
    background-color: #354a4a;
}

.tituloSub {
    border-bottom: 2px solid white;
}

.centrarTexto {
    text-align: left;
}

.centrarItems {
    align-items: center;
}

.bordeArribaFooter {
    border-top: 4px solid #496364 ;
}

.bordeImagen {
    border: 4px solid #354a4a;
}

.bordeImagen2 {
    border: 4px solid #496364;
}

.enlaces {
    text-decoration: none;
    color: white;
}

.enlaces:hover {
    color: white;
}

.enlaces::after {
    color: white;
}

.mapResponsive{

    overflow:hidden;

    padding-bottom:56.25%;

    position:relative;

    height:0;

}

.mapResponsive iframe{

    left:0;

    top:0;

    height:100%;

    width:100%;

    position:absolute;

}
